// // 모바일 sm | 모바일 lg
// $breakpoint-mobile-mobile: 480px;

// // 모바일 lg | 태블릿
// $breakpoint-mobile-tablet: 768px;

// // 태블릿 | PC
// $breakpoint-tablet-pc: 1280px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
