// [참고1] https://andy-bell.co.uk/a-modern-css-reset/
// [참고2] https://ykss.netlify.app/translation/a_more_modern_css_reset/
@charset 'UTF-8';

*,
:before,
:after {
  /* box-sizing 규칙을 명시합니다. */
  box-sizing: border-box;

  /* 애니메이션 효과를 부여합니다. */
  animation-duration: 0.01ms;
  animation-iteration-count: 1;
  transition-duration: 0.01ms;
  scroll-behavior: auto;
}

/* 폰트 크기의 팽창을 방지합니다. */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 스크롤 동작 smooth를 기본으로 설정 */
html:focus-within {
  scroll-behavior: smooth;
}

/* 기본 여백을 제거하여 작성된 CSS를 더 잘 제어할 수 있습니다. */
html,
body,
dl,
dt,
dd,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
button,
form,
input,
select,
textarea,
fieldset,
legend,
iframe,
figure,
blockquote {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  -webkit-text-size-adjust: none;
}

body {
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.01em;
  color: #25282b;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-rendering: optimizeSpeed;
}

address,
em {
  font-style: normal;
}

fieldset,
img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  vertical-align: middle;
}

input,
textarea,
select,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input {
  border-radius: 0;
  font-family: Pretendard;
  vertical-align: middle;

  &::-webkit-search-cancel-button {
    appearance: none;
  }

  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  &::-ms-clear {
    display: none;
  }

  // ms 계열 브라우저 - 비밀번호 보기 버튼 제거
  &::-ms-reveal {
    display: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }

  &::placeholder {
    font-family: Pretendard;
  }

  &:disabled {
    -webkit-text-fill-color: $color-gray-400;
    opacity: 1;
    -webkit-opacity: 1;
  }
}

i {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;

  &[role='button'] {
    cursor: pointer;
  }
  &:focus-visible {
    outline: none;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button {
  appearance: none;
  border: 0;
  //background: transparent;
  font: inherit;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

textarea {
  overflow: auto;
  font-family: Pretendard;
  resize: none;

  &::placeholder {
    font-family: Pretendard;
  }
}

/* 제목에 대한 text-wrap을 balance로 설정합니다. */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* list를 role값으로 갖는 ul, ol 요소의 기본 목록 스타일을 제거합니다. */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/*  */
html:focus-within {
  scroll-behavior: smooth;
}

/* 이미지 관련 작업을 더 쉽게 합니다. */
img,
picture {
  max-width: 100%;
  display: block;
}

/* input 및 button 항목들이 글꼴을 상속하도록 합니다. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 행 속성이 없는 textarea가 너무 작지 않도록 합니다. */
textarea:not([rows]) {
  min-height: 10em;
}

/* 고정된 모든 항목에는 여분의 스크롤 여백이 있어야 합니다. */
:target {
  scroll-margin-block: 5ex;
}
