.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 12px;
  background-color: $color-panmnesia-green-700;

  .menu-section {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    color: white;
    padding-right: 12px;

    .menu-item {
      display: flex;
      align-items: center;
      height: 36px;
      padding: 2px 8px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .not-pc-hamburger {
    display: none;
    cursor: pointer;
  }

  @include under-mobile {
    .menu-section {
      display: none;
    }

    .not-pc-hamburger {
      display: block;
    }
  }
}

.hidden-space {
  width: 100%;
  height: 50px;
}
