.greeting-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .greeting-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;

    .read-contents {
      display: none;

      &.show {
        display: block;
      }

      .hover-buttons {
        display: none;
        gap: 10px;
      }
    }

    &:hover {
      background-color: #f5f5f5;
      box-shadow: 0 0 0 1px #888;

      .hover-buttons {
        display: flex;
      }
    }

    .edit-contents {
      display: none;

      &.show {
        display: block;
      }
    }
  }
}
