$color-border: $color-gray-500;

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  min-width: 200px;
  padding: 30px 0;

  .board-container {
    max-width: 100%;
    height: fit-content;
    border: 1px solid $color-border;

    .board-row {
      display: grid;
      grid-template-columns: 60px 1fr 1fr 1fr;

      > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        text-align: center;

        &:first-child {
          border-left: none;
        }
      }

      .board-cell {
        border: 1px solid $color-border;

        &.selected {
          border-color: $color-red-500;
        }
      }
    }
  }
}
