.menu-edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input-area {
    width: 300px;
    height: 150px;
    padding: 10px;
    text-align: center;
  }

  .submit-btn {
    padding: 5px;
    border-radius: 2px;
  }
}
